// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_ThreadNotification {
    display: flex;
    align-items: center;

    &:hover .o_ThreadNotification_markAsRead {
        display: flex;
    }
}

.o_ThreadNotification_content {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    align-self: flex-start;
    min-width: 0;
    margin: 3px;
}

.o_ThreadNotification_core {
    display: flex;
}

.o_ThreadNotification_coreItem {
    margin: 0 3px;

    &:first-child {
        margin-left: 0px;
    }

    &:last-child {
        margin-right: 0px;
    }
}

.o_ThreadNotification_counter {
    margin: 0 3px;
}

.o_ThreadNotification_date {
    flex: 0 0 auto;
}

.o_ThreadNotification_header {
    display: flex;
    margin-bottom: 5px;
}

.o_ThreadNotification_image {
    width: 100%;
    height: 100%;
}

.o_ThreadNotification_imageContainer {
    position: relative;
    width: 40px;
    height: 40px;
}

.o_ThreadNotification_inlineText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.o-empty::before {
        content: '\00a0'; // keep line-height as if it had content
    }
}

.o_ThreadNotification_markAsRead {
    display: none;
    flex: 0 0 auto;
}

.o_ThreadNotification_name {
    overflow: hidden;
    text-overflow: ellipsis;

    &.o-mobile {
        font-size: 1.1em;
    }
}

.o_ThreadNotification_partnerImStatusIcon {
    @include o-position-absolute($bottom: 0, $right: 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.o_ThreadNotification_sidebar {
    margin: 3px;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_ThreadNotification {
    background-color: gray('100');
    cursor: pointer;
    user-select: none;

    .o_ThreadNotification_partnerImStatusIcon {
        color: gray('100');
    }

    &:hover {
        background-color: darken(gray('100'), 7%);

        .o_ThreadNotification_partnerImStatusIcon {
            color: darken(gray('100'), 7%);
        }
    }

    &.o-unread {
        background-color: white;

        .o_ThreadNotification_partnerImStatusIcon {
            color: white;
        }

        &:hover {
            background-color: darken(white, 7%);

            .o_ThreadNotification_partnerImStatusIcon {
                color: darken(white, 7%);
            }
        }

        .o_ThreadNotification_counter,
        .o_ThreadNotification_date,
        .o_ThreadNotification_name {
            font-weight: bold;
        }

        .o_ThreadNotification_date {
            color: $o-brand-primary,
        }
    }
}

.o_ThreadNotification_core {
    color: gray('500');
}

.o_ThreadNotification_date {
    font-size: x-small;
    color: gray('500');
}

.o_ThreadNotification_markAsRead {

    &:hover {
        opacity: 1;
        color: gray('600');
    }

    &:not(:hover) {
        opacity: 0.8;
    }
}

.o_ThreadNotification_partnerImStatusIcon:not(.o_ThreadNotification_partnerImStatusIcon-mobile) {
    font-size: x-small;
}
