$o-kanban-background: $o-gray-100 !default;
$o-kanban-default-record-width: 320px !default;
$o-kanban-small-record-width: 300px !default;
$o-kanban-color-border-width: 3px !default;
$o-kanban-inner-hmargin: 5px !default;
$o-kanban-record-margin: $o-horizontal-padding / 2 !default;
$o-kanban-group-padding: $o-horizontal-padding !default; // Cannot be higher than this

// ------- Kanban dashboard variables -------

// Used to manage spacing in complex dropdown menu
$o-kanban-dashboard-dropdown-complex-gap: 5px !default;
