.oe_drop_zone {
    height: 10px;
    background: $o-hb-dropzone-bg-color;
    animation: dropZoneInsert 1s linear 0s infinite alternate;

    &.oe_insert {
        position: relative;
        width: 100%;
        border-radius: $border-radius-lg;
        outline: $o-hb-dropzone-border-width dashed $o-hb-dropzone-accent-color;
        outline-offset: -$o-hb-dropzone-border-width;
        z-index: 2000; // TODO use $o-hb-overlay-zindex instead
    }

    &.o_dropzone_highlighted {
        filter: brightness(1.5);
        transition: 200ms;
    }
}

.oe_drop_zone:not(.oe_grid_zone) {
    &.oe_insert {
        min-width: $o-hb-dropzone-size;
        height: $o-hb-dropzone-size;
        min-height: $o-hb-dropzone-size;
        margin: (-$o-hb-dropzone-size/2) 0;
        padding: 0;

        &.oe_vertical {
            width: $o-hb-dropzone-size;
            float: left;
            margin: 0 (-$o-hb-dropzone-size/2);
        }
    }

    &.oe_sanitized_drop_zone {
        position: absolute;
        top: 0px;
        height: 100%;
        padding: 15px;
        margin: 0px;
        backdrop-filter: blur(15px);
        background-color: rgba($o-hb-bg-lighter, 0.15);
        color: white;
        outline-color: $o-hb-bg-lighter;
        z-index: 1999; // TODO

        > p {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: calc(100% - 30px);
            text-shadow: 0px 0px 4px black;
            font-size: 20px;
        }
    }
}

// TODO for mass_mailing only ?
body.oe_dropzone_active .note-editable {
    overflow: hidden;
}
