.o-mail-AttachmentContainer {
    width: 14em;
    height: 10em;
    background-color: $gray-200;
}

.o-mail-AttachmentCard-image, .o-mail-Attachment-hover-image {
    width: 1.4em;
    height: 1.4em;
}

.o-viewable {
    cursor: zoom-in;
}
