.o-mail-MessageReactionList-preview:hover {
    background-color: $o-gray-100 !important;
}

.o-mail-MessageReactionList-previewText {
    max-width: 200px;
}

.o-mail-MessageReaction-twemoji {
    width: 1rem;
    height: 1rem;
}

.o-mail-MessageReactionPreview-twemoji {
    width: 2.5rem;
    height: 2.5rem;
}
