.o-mail-MessageCardList {
    .card {
        --border-opacity: .5;
    }

    .card-body {
        background-color: $o-webclient-background-color;
    
        &:hover .o-mail-MessageCard-jump {
            opacity: 100 !important;
        }
    }
}

.o-mail-MessageCard-jump {
    color: white;
}

.o_touch_device .o-mail-MessageCard-jump.btn {
    font-size: 0.9rem;
}
