.o-mail-PollResult {
    max-width: 500px;
    background-color: var(--mail-Poll-bgColor, $o-view-background-color);
    border-color: map-get($poll-color-map, "secondary");
}

.o-mail-PollResult-emojiWrapper {
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.08);
}
