// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_widget_Discuss {
    display: flex;
    flex: 0 0 100%;
    flex-flow: column;
    height: 100%;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_widget_Discuss {

    .o_Discuss.o-mobile {

        &:not(.o-adding-item) {
            border-top: 1px solid $border-color;
        }

        &.o-adding-item .o_Discuss_mobileAddItemHeader {
            border-bottom: 1px solid $border-color;
        }
    }
}
