// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o-widget-Discuss {
    display: flex;
    flex: 0 0 100%;
    flex-flow: column;
    height: 100%;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o-widget-Discuss {

    .o_control_panel {
        border-bottom: 0; // cancel default border, so that we only apply it on top of discuss content
    }

    .o-Discuss-content {
        border-top: 1px solid darken($o-control-panel-background-color, 20%);
    }

    .o-Discuss.o-isMobile {

        &:not(.o-isAddingItem) {
            border-top: 1px solid darken($o-control-panel-background-color, 20%);
        }

        &.o-isAddingItem .o-Discuss-mobileAddItemHeader {
            border-bottom: 1px solid darken($o-control-panel-background-color, 20%);
        }
    }
}
