.options-container {
    .options-container-body {
        background-color: $o-hb-bg-darker;
    }

    // POC only: use xml instead
    .options-container-header:has(.oe_snippet_save) > i {
        display: none;
    }

    // POC: Shouldn't be here
    .btn {
        --btn-padding-y: 0.15rem;
        --btn-padding-x: 0.375rem;
    }

    div:has(> input):not(table.o_social_media_list div) {
        flex: 1 0 40px;
    }
    div:has(> input.o_we_large) {
        width: 100%;
    }
    table.o_social_media_list button {
        width: 2em;
    }

    input {
        border: $o-hb-sidebar-content-field-border-width solid $o-hb-sidebar-content-field-border-color;
        border-radius: $o-hb-sidebar-content-field-border-radius;
        background-color: $o-hb-sidebar-content-field-input-bg;
        color: $o-hb-fg-lighter;
        padding: 0.15rem $o-hb-sidebar-content-field-clickable-spacing;

        &:focus {
            border-color: $o-hb-sidebar-content-field-input-border-color;
        }
    }
}

.o_we_img_animate:hover img {
    content: image-set(var(--animate-src));
}
