// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_action_manager {
    // bug with scrollable inside discuss mobile without this...
    min-height: 0;
}

// AKU TODO: move to discuss global variables
.o-isAutogrow {
    flex: 1 1 auto;
}

.o-Discuss {
    display: flex;
    height: 100%;
    min-height: 0;

    &.o-isMobile {
        flex-flow: column;
        align-items: center;
    }
}

.o-Discuss-chatWindowHeader {
    width: 100%;
    flex: 0 0 auto;
}

.o-Discuss-content {
    height: 100%;
    overflow: auto;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

.o-Discuss-messagingNotInitialized {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.o-Discuss-messagingNotInitializedIcon {
    margin-right: 3px;
}

.o-Discuss-mobileAddItemHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 10px;
}

.o-Discuss-mobileAddItemHeaderInput {
    flex: 1 1 auto;
    margin-bottom: 8px;
    padding: 8px;
}

.o-Discuss-mobileMailboxSelection {
    width: 100%;
}

.o-Discuss-mobileNavbar {
    width: 100%;
}

.o-Discuss-noThread {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.o-Discuss-replyingToMessageComposer {
    width: 100%;
}

.o-Discuss-sidebar {
    height: 100%;
    overflow: auto;
    padding-top: 10px;
    flex: 0 0 auto;
}

.o-Discuss-thread {
    flex: 1 1 auto;

    &.o-isMobile {
        width: 100%;
    }
}

.o-Discuss-notificationList {
    width: 100%;
    flex: 1 1 auto;
}
// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o-Discuss.o-isMobile {
    background-color: white;
}

.o-Discuss-mobileAddItemHeaderInput {
    appearance: none;
    border: 1px solid gray('400');
    border-radius: 5px;
    outline: none;
}
