
.btn.o_field_translate {
    visibility: hidden;
}

.o_field_widget {
    &:hover,
    &:focus-within {
        .btn.o_field_translate {
            visibility: visible;
        }
    }

    input, textarea {
        &.o_field_translate, &.o_field_placeholder {
            padding-right: $o-field-translate-padding;
        }
        &.o_field_translate.o_field_placeholder {
            padding-right: $o-field-translate-padding * 2;
        }
    }
}
