// Product page: Related Blog Posts
// ================================
#o-product-carousel-blogpost {
    .o_record_cover_container {
        padding-top: 15%;
    }
    .o_wblog_author_avatar {
        width: 2.5em;
        height: 2.5em;
        object-fit: cover;
    }
    .o_carousel_blog_control {
        width: 7%;
    }
}
