.o_Gif {
    display: flex;
    flex-flow: row wrap;
    max-width: 500px;
    max-height: 500px;
    overflow: auto;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;

    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .gif-title {
            color: #FFF;
            position: absolute;
        }
    }
}
