// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o-Message {
    display: flex;
    flex: 0 0 auto;
    padding: map-get($spacers, 2);
}

.o-Message-authorAvatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.o-Message-authorAvatarContainer {
    position: relative;
    height: 36px;
    width: 36px;
}

.o-Message-authorName {
    margin-inline-end: map-get($spacers, 2);
}

.o-Message-checkbox {
    margin-inline-end: map-get($spacers, 2);
}

.o-Message-commandStar {
    font-size: 1.3em;
}

.o-Message-Composer {
    flex: 1 1 auto;
}

.o-Message-commands {
    display: flex;
    align-items: center;
}

.o-Message-content {
    word-wrap: break-word;
    word-break: break-word;

    *:not(li):not(li div) {
        // Message content can contain arbitrary HTML that might overflow and break
        // the style without this rule.
        // Lists are ignored because otherwise bullet style become hidden from overflow.
        // It's acceptable not to manage overflow of these tags for the moment.
        // It also excludes all div in li because 1st leaf and div child of list overflow
        // may impact the bullet point (at least it does on Safari).
        max-width: 100%;
        overflow-x: auto;
    }

    > pre {
        white-space: pre-wrap;
        word-break: break-word;
    }
}

.o-Message-core {
    min-width: 0; // allows this flex child to shrink more than its content
    margin-inline-end: map-get($spacers, 3);
}

.o-Message-footer {
    display: flex;
    flex-direction: column;
}

.o-Message-header {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.o-Message-headerCommands {
    margin-inline-end: map-get($spacers, 2);
    align-self: center;

    .o-Message-headerCommand {
        padding-left: map-get($spacers, 2);
        padding-right: map-get($spacers, 2);

        &.o-isMobile {
            padding-left: map-get($spacers, 3);
            padding-right: map-get($spacers, 3);

            &:first-child {
                padding-left: map-get($spacers, 2);
            }

            &:last-child {
                padding-right: map-get($spacers, 2);
            }
        }
    }
}

.o-Message-headerDate {
    margin-inline-end: map-get($spacers, 2);
    font-size: 0.8em;
}

.o-Message-moderationAction {
    margin-inline-end: map-get($spacers, 3);
}

.o-Message-moderationPending {
    margin-inline-end: map-get($spacers, 3);
}

.o-Message-moderationSubHeader {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.o-Message-originThread {
    margin-inline-end: map-get($spacers, 2);
}

.o-Message-partnerImStatusIcon {
    @include o-position-absolute($bottom: 0, $right: 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.o-Message-prettyBody {

    > p:last-of-type {
        margin-bottom: 0;
    }

}

.o-Message-readMoreLess {
    display: block;
}

.o-Message-seenIndicator {
    margin-inline-end: map-get($spacers, 1);
}

.o-Message-sidebar {
    flex: 0 0 $o-mail-message-sidebar-width;
    max-width: $o-mail-message-sidebar-width;
    display: flex;
    margin-inline-end: map-get($spacers, 2);
    justify-content: center;

    &.o-message-squashed {
        align-items: flex-start;
    }
}

.o-Message-sidebarItem {
    margin-left: map-get($spacers, 1);
    margin-right: map-get($spacers, 1);

    &.o-isMessageSquashed {
        display: flex;
    }
}

.o-Message-trackingValues {
    margin-top: map-get($spacers, 2);
}

.o-Message-trackingValue {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.o-Message-trackingValueItem {
    margin-inline-end: map-get($spacers, 1);
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o-Message {
    background-color: white;

    &:hover, &.o-isClicked {

        .o-Message-commands {
            opacity: 1;
        }

        .o-Message-sidebarItem.o-isMessageSquashed {
            display: flex;
        }

        .o-Message-seenIndicator.o-isMessageSquashed {
            display: none;
        }
    }

    .o-Message-partnerImStatusIcon {
        color: white;
    }

    &.o-isNotDiscussion {
        background-color: lighten(gray('300'), 5%);
        border-bottom: 1px solid darken(gray('300'), 5%);

        .o-Message-partnerImStatusIcon {
            color: lighten(gray('300'), 5%);
        }

        &.o-isSelected {
            border-bottom: 1px solid darken(gray('400'), 5%);
        }
    }

    &.o-isSelected {
        background-color: gray('400');

        .o-Message-partnerImStatusIcon {
            color: gray('400');
        }
    }

    &.o-isStarred {

        .o-Message-commands {
            display: flex;
        }

        .o-Message-commandStar {
            display: flex;
        }
    }

    &.o-has-message-selection:not(.o-selected) {
        opacity: 0.5;
    }
}

.o-Message-authorName {
    font-weight: bold;
}

.o-Message-authorRedirect {
    cursor: pointer;
}

.o-Message-command {
    cursor: pointer;
    color: gray('400');

    &:not(.o-isMobile) {
        &:hover {
            filter: brightness(0.8);
        }
    }

    &.o-isMobile {
        filter: brightness(0.8);

        &:hover {
            filter: brightness(0.75);
        }
    }

    &.o-isMessageSelected {
        color: gray('500');
    }
}

.o-Message-commandStar {

    &.o-isMessageStarred {
        color: gold;

        &:hover {
            filter: brightness(0.9);
        }
    }
}

.o-Message-content .o_mention {
    color: $o-brand-primary;
    cursor: pointer;

    &:hover {
        color: darken($o-brand-primary, 15%);
    }
}

.o-Message-date {
    color: gray('500');

    &.o-isMessageSelected {
        color: gray('600');
    }
}

.o-Message-headerCommands:not(.o-isMobile) {
    opacity: 0;
}

.o-Message-originThread {
    font-size: 0.8em;
    color: gray('500');

    &.o-isMessageSelected {
        color: gray('600');
    }
}

.o-Message-originThreadLink {
    font-size: 1.25em; // original size
}

.o-Message-partnerImStatusIcon:not(.o-Message-partnerImStatusIcon-isMobile) {
    font-size: x-small;
}

.o-Message-moderationAction {
    font-weight: bold;
    font-style: italic;

    &.o-accept,
    &.o-allow {
        color: $o-mail-moderation-accept-color;
        @include hover-focus {
            color: darken($o-mail-moderation-accept-color, $emphasized-link-hover-darken-percentage);
        }
    }

    &.o-ban,
    &.o-discard,
    &.o-reject {
        color: $o-mail-moderation-reject-color;
        @include hover-focus {
            color: darken($o-mail-moderation-reject-color, $emphasized-link-hover-darken-percentage);
        }
    }
}

.o-Message-moderationPending {
    font-style: italic;

    &.o-isCurrentPartnerAuthor {
        color: theme-color('danger');
        font-weight: bold;
    }
}

.o-Message-notificationIconClickable {
    color: gray('600');
    cursor: pointer;

    &.o-isError {
        color: $red;
    }
}

.o-Message-sidebarCommands {
    display: none;
}

.o-Message-sidebarItem.o-isMessageSquashed {
    display: none;
}

.o-Message-subject {
    font-style: italic;
}

// Used to hide buttons on rating emails in chatter
// FIXME: should use a better approach for not having such buttons
// in chatter of such messages, but keep having them in emails.
.o-Message-content [summary~="o_mail_notification"] {
    display: none;
}
