.o_media_manager_kanban_view>main.o_content {
    padding-top: 16px;
    .o_kanban_record {
        --Card-min-width: 86px;
        --KanbanRecord-width : --Card-min-width;
    }
}

.media-manager-side-panel {
    width: 220px;
    max-height: 100%;
    overflow: auto;
    float: left;
}

/* Upload drop zone */
.media-manager-drop-zone {
    z-index: 100;
    font-size: 50px;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #3e3e3e;
    background: rgba(255,255,255,0.85);
    display: none;
    &.active {
        display: block;
    }
    >div {
        pointer-events: none;
        border: 4px solid #555;
        border-radius: 30px;
        margin: 30px;
        position: absolute;
        top: 30px;
        bottom: 30px;
        left: 30px;
        right: 30px;
        padding-top: 30px;
    }
}

/* ir.attachment record */
.o_kanban_record.o_kanban_attachment {
    .o_record_box_star, .o_record_box_star_bg {
        font-size: 14px;
        top: 5px;
        left: 5px;
        display: none;
    }
    &:hover{
        .o_record_box_star, .o_record_box_star_bg {
            display: block;
        }
    }
    .o_record_box_star {
        z-index: 100;
        cursor: pointer;
        width: 20px;
        height: 20px;
        color: desaturate($o-main-favorite-color, 80%);
        opacity: 0.8;
        &:hover{
            color : $o-main-favorite-color;
            opacity: 1;
        }
    }
    .o_record_box_star_bg {
        color: rgba(255,255,255,0.8);
    }
    &.o_record_starred:not(.o_record_selected) {
        background-color: lighten($o-main-favorite-color, 30%);
        border-color: $o-main-favorite-color;

        .o_record_box_star{
            color: desaturate($o-main-favorite-color, 35%);
        }
    }
    //&.o_record_selected {
    //    background-color: var(--KanbanColumn__highlight-selected);
    //}

}