// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o-Follower {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: map-get($spacers, 0);
}

.o-Follower-avatar {
    width: 24px;
    height: 24px;
    margin-inline-end: map-get($spacers, 2);
}

.o-Follower-details {
    align-items: center;
    display: flex;
    flex: 1;
    padding-left: map-get($spacers, 3);
    padding-right: map-get($spacers, 3);
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o-Follower-avatar {
    border-radius: 50%;
}

.o-Follower-button {
    border-radius: 0;

    &:hover {
        background: gray('400');
        color: $black;
    }
}

.o-Follower-details {
    color: gray('700');

    &:hover {
        background: gray('400');
        color: $black;
    }

    &.o-isInactive {
        opacity: 0.25;
        font-style: italic;
    }
}
