.o_tag {
    font-size: var(--Tag-font-size, #{$font-size-sm});
    max-width: var(--Tag-max-width, 100%);

    @for $size from 1 through length($o-colors) {
        &.o_tag_color_#{$size - 1} {
            $-base: nth($o-colors, $size);

            &, &::after {
                background-color: var(--background-color, oklch(from #{$-base} 0.90 0.06 h / var(--bg-opacity, 1)));
                color: var(--color, oklch(from #{$-base} 0.35 0.1 h));
            }
        }
    }
}
