.o_datetime_picker {
    --DateTimePicker__Cell-size-md: 3rem;
    --DateTimePicker__Cell-size-lg: 5rem;
    --DateTimePicker__Template-rows: 3;
    --DateTimePicker__Template-columns: 4;
    --DateTimePicker__Day-template-rows: 6;
    --selected-day-color: #{mix(lighten($o-component-active-border, 10%), $o-component-active-bg, 15%)};
    --selection-color: #{$o-component-active-bg};

    // Header
    .o_datetime_picker_header .o_header_part {
        text-transform: none;
    }

    // Day

    .o_date_item_cell {
        position: relative;
        border-radius: 0;
    }

    .o_current,
    .o_selected {
        color: $o-component-active-color;
    }

    .o_selected {
        background: $o-component-active-bg;
    }

    .o_today,
    .o_select_start,
    .o_select_end {
        --percent: calc(100% / sqrt(2));
        background:
            var(--selection-color)
            radial-gradient(
                circle,
                var(--selected-day-color) 0%,
                var(--selected-day-color) var(--percent),
                rgba(255, 255, 255, 0) var(--percent),
                rgba(255, 255, 255, 0) 100%
            )
        ;
    }

    .o_select_start {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .o_select_end  {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .o_today {
        --selected-day-color: #{lighten($o-brand-primary, 50%)};
        &:not(.o_selected) {
            border-radius: 50%;
            background: var(--selected-day-color);
        }
    }


    // Grids

    .o_date_picker {
        grid-template-rows: repeat(var(--DateTimePicker__Day-template-rows), 1fr);
        grid-template-columns: repeat(var(--DateTimePicker__Day-template-columns), 1fr);
    }

    .o_date_item_picker {
        grid-template-rows: repeat(var(--DateTimePicker__Template-rows), 1fr);
        grid-template-columns: repeat(var(--DateTimePicker__Template-columns), 1fr);
    }

    // Utilities

    .o_date_item_picker .o_datetime_button {
        &.o_selected,
        &:hover,
        &.o_today:not(.o_selected):hover {
            &:not(.o_select_start):not(.o_select_end) {
                background: $o-component-active-bg;
                color: $o-component-active-color;
            }
        }
    }

    .o_center {
        display: grid;
        place-items: center;
    }

    // Compute  spacing  between the two month by compensating buttons size and tables gap

    .o_zoom_out {
        gap: calc(
            #{$btn-border-width} * 4 + #{$o-font-size-base} * 2 + #{$input-btn-padding-x} * 4
        );
    }

    .o_cell_lg {
        width: var(--DateTimePicker__Cell-size-lg);
        height: var(--DateTimePicker__Cell-size-lg);
    }

    .o_text_sm {
        font-size: 0.875rem;
    }
}
