.btnWorklocation{
    margin: 2px;

    &:hover {
      .o_month, .line {
        box-shadow: 0px 1px 2px 0px rgba($gray-700, 0.3), 0 3px 1px -3px rgba($gray-700, 0.15);
        color: $gray-700;
      }
    }

    .o_month{
        width: 50%;
        border-color: transparent;
        font-size: .85em;
        font-weight: 600;
    }

    .line{
      border: none;
      border-color: transparent;
      height: 3px;
      width:100%;
    }
}

.fc-timeGridDay-view .fc-day-header {
    display: flex;
    align-items: center;
    gap: map-get($spacers, 1);
    > span {
        text-wrap: nowrap;
    }
    .btnWorklocation {
        width: auto;
        // opacity: 100;

        .o_month {
            width: auto;
        }
        .line {
            display: none;
        }
    }
}

.fc-event.o_homework_event {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    cursor: pointer;
    .o_homework_single {
        display:flex;
        align-items: center;
        width: 100%;
        .fc-content {
            margin: 0 !important;
            border-radius: 100px;
            width: auto;
            overflow: visible;
            opacity: 1;
            font-weight: 600;
        }
        .line{
            height: 3px;
            width: 100%;
          }
    }

    .o_homework_multi {
        display: flex;
        .fc-content .fa-2x {
            display: flex;
            align-content: center;
            flex-wrap: wrap;
            justify-content: center;
            height: 20px;
            width: 20px;
            border-radius: 100%;
            font-size: 1.2em;
            &.fa-building {
                font-size: 1.0em;
            }
        }
    }
}

@for $i from 1 through length($o-colors-complete) {
    $color: nth($o-colors-complete, $i);
    .o_popover{
        .wl_color_#{$i - 1} {
            color: $color;
        }
    }
    .o_homework_multi {
        .wl_color_#{$i - 1} {
            color: $color;
            background-color: scale-color($color, $lightness: 85%);
        }
    }
    .o_homework_single {
        .wl_color_#{$i - 1} {
            background-color: scale-color($color, $lightness: 50%);
        }
    }
}