.pos .popup.money-details {
    transform: none;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 40%);
    width: 350px;
}

.pos .money-details.from-opening-cash-control {
    left: calc(35% + 255px);
    top: calc(50% - 169px);
    height: 400px;
}

.pos .money-details.invisible {
    display: none;
}

.pos .money-details .body {
    max-height: 306px;
}

.pos .money-details .money-details-title {
    text-align: left;
    margin-bottom: 15px;
    font-weight: bold;
}

.pos .money-details .money-details-info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    max-height: 235px;
    padding: 0 15px;
}

.pos .money-details .money-details-value {
    display: flex;
    margin: 10px 0;
}

.pos .money-details .total-section {
    font-weight: bold;
}
