// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o-FollowButton {
    display: flex;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o-FollowButton-follow {
    color: gray('600');
}

.o-FollowButton-unfollow {
    color: gray('600');

    &.o-isFollowing {
        color: $green;
    }

    &.o-isUnfollowing {
        color: $orange;
    }
}
