
$s-map-desc-bg: map-get($theme-colors, 'primary') !default;
$s-map-desc-alpha: 0.80 !default;
$s-map-desc-hover-bg: map-get($theme-colors, 'primary') !default;
$s-map-desc-hover-alpha: 0.55 !default;

.s_map {
    position: relative;
    min-height: 100px;

    &:before {
        content: attr(data-map-description);
        display: inline-block;
        user-select: text;
        pointer-events: auto;
        cursor: text;
        @include o-position-absolute(auto, 0, 0, 0);
        z-index: 99;
        padding: 0 1em;
        background: rgba($s-map-desc-bg, $s-map-desc-alpha);
        color: color-contrast(rgba($s-map-desc-bg, $s-map-desc-alpha));
        transition: background-color 250ms ease;
    }
    &:hover:before {
        background: $s-map-desc-hover-bg;
        background: rgba($s-map-desc-hover-bg, $s-map-desc-hover-alpha);
        color: color-contrast(rgba($s-map-desc-hover-bg, $s-map-desc-hover-alpha));
    }
    .map_container {
        @include o-position-absolute(0, 0, 0, 0);
    }
    .s_map_color_filter {
        @include o-position-absolute(0, 0, 0, 0);
        position: absolute !important;
        pointer-events: none;
    }
}

.editor_enable .s_map {
    iframe {
        pointer-events: none;
    }
}
