.o_field_widget .o_priority {
    gap: 0.5em;
    > .o_priority_star {
        font-size: 1.25em !important;
        &.fa-star-o {
            color: $o-main-color-muted;
        }
        &.fa-star {
            color: $o-main-favorite-color;
        }
    }
}
.o_input_box_overlay:has(.o_priority) {
    width: 4.75em !important;
}
