.o_field_widget .o_priority {
    > .o_priority_star {
        font-size: 1.25em !important;
        margin-left: .5em !important;
        aspect-ratio: 1;

        &.fa-star-o {
            color: $o-main-color-muted;
        }
        &.fa-star {
            color: $o-main-favorite-color;
        }
    }
}
