.o_field_widget .o_priority {
    &.o_priority_lvl_1 {
        --PriorityStar__active-color: var(--o-main-favorite-color);
    }

    &.o_priority_lvl_2 {
        --PriorityStar__active-color: var(--warning);
    }

    &.o_priority_lvl_3 {
        --PriorityStar__active-color: var(--danger);
    }

    @media (pointer: coarse) {
        --PriorityStar-margin-left: 0;
    }

    > .o_priority_star {
        margin-left: var(--PriorityStar-margin-left, calc(var(--o-bs-spacer-1) * -1));
        color: var(--PriorityStar-color, var(--o-main-color-muted));

        &.o_star_active {
            --PriorityStar-color: var(--PriorityStar__active-color);
        }
    }
}

@media (pointer: fine) {
    .o_list_view .o_field_widget .o_priority:not(:hover):not(:focus-within) > {
        .o_priority_star:not(.oi-filled):first-child ~ [data-icon="star"],
        .o_priority_star.oi-filled ~ .o_priority_star:not(.oi-filled) {
            opacity: 0 !important;
        }
    }
}
