.o-mail-Thread-avatar {
    --avatar-size: #{$h1-font-size};
    --icon-font-size: 2.6em;

    &.o-mail-Thread-avatarChatWindow {
        --avatar-size: 28px;
        --icon-font-size: 1.5em;
    }

    img {
        height: var(--avatar-size);
        width: var(--avatar-size);
    }

    i::before {
        font-size: var(--icon-font-size);
    }
}
