.o_section_icon {
    min-width: 10px;
    width: 10px;
}

.o_selected_section {
    background-color: var(--list-group-active-bg);
}

.o_section_row:not(.o_selected_section):hover {
    background-color: var(--list-group-action-hover-bg);
}

.o_section_row {
    border-radius: var(--border-radius);
}
