.o_field_widget {
    .o_favorite {
        i.oi {
            font-size: var(--Favorite-font-size, 1rem);
        }
        i[data-icon="star"] {
            color: var(--o-main-color-muted);

            &:hover, &:focus, &.focus {
                color: var(--o-main-favorite-color);
            }

            &.oi-filled {
                color: var(--o-main-favorite-color);
            }
        }
    }
}
