.o-website-btn-custo-secondary {
    @include button-variant(darken($o-navbar-background, 5%), darken($o-navbar-background, 5%), $o-navbar-entry-color, darken($o-navbar-background, 10%));
}

.o_new_content_popover {
    --btn-hover-bg: #{$o-gray-100};

    &_container {
        columns: 2;
    }
}

.o_new_content_element_image_container {

    --border-color: #{$border-color};
    background: white;

    width: 40px;
    aspect-ratio: 1;

    & img {
        width: 1.5rem;
        aspect-ratio: 1;
    }
}
