[data-snippet="s_blockquote"] {
    div:has(> img) {
        min-width: 40px;
        width: 40px;
        flex: 0 0 auto;
    }
    div.s_blockquote_author {
        width: auto;
    }
    img {
        height: 40px;
        aspect-ratio: 1;
        width: unset;
    }
}
