.o_wprofile_pager {
    li.page-item {
        a.page-link {
            background-color: transparent;
            border: 0;
            color: $gray-600;
            transition-duration: .3s;

            &:hover {
                background: transparent;
                color: $primary;
            }
        }

        &.active a.page-link {
            background: transparent;
            color: $primary;
            font-weight: $font-weight-bold;
        }

        &.o_wprofile_pager_arrow a {
            color: $primary;

            &:hover {
                transform: scaleX(1.50) scaleY(1.50);
            }
        }

        &.o_wprofile_pager_arrow.disabled a {
            color: $gray-600;
        }

        .page-link:focus {
            box-shadow: 0 0 0 0;
        }
    }
}

.country_flag {
    display: inline-block;
    margin-left: 2px;
    max-height: 13px;
    width: auto !important;
}
