
@include media-breakpoint-up(md) {
    .o_kanban_header:where(:not(:hover)) .o_group_config {
        visibility: hidden;
    }
    .o_group_config:has(.show) {
        visibility: visible;
    }
}

.o-dropdown--group-config-menu {
    cursor: default;
}
