.o_GifList {
    display: grid;
    grid-template-columns: auto auto;

    .gridItem {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .gif {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .gifTitle {
            color: #FFF;
            position: absolute;
        }
    }
}
