.o_time_picker_input, .o_date_picker_input {
    transition: all .1s ease-in-out;
    transition-property: color, background-color, border-bottom-color;
    color: $btn-color;

    /* Progressive enhancement for the input text sizing */
    @supports(field-sizing:content) {
        field-sizing: content;
    }
    @supports not (field-sizing:content) {
        max-width: 140px;
    }

    &.o_invalid {
        color: o-text-color('danger');
        border-bottom-color: map-get($theme-colors, 'danger');
        background-color: $o-input-invalid-bg;
    }
}

.o_time_picker_dropdown.o-dropdown--menu {
    --dropdown-min-width: unset;
    max-height: 15rem;
}
