.hb-row {
    min-height: $o-hb-row-min-height;
    margin-bottom: $o-hb-row-margin-bottom;
    align-items: center;
    color: $o-hb-fg-dark;

    &:hover, &.active {
        color: $o-hb-fg-lighter;
    }

    &.active {
        background: rgba($o-hb-color-accent, .2);
    }

    .hb-row-label {
        min-width: 0;
        flex: 0 1 44%;
    }

    .hb-row-content {
        flex: 0 1 56%;
        align-items: center;
        gap: map-get($spacers, 1);
    }

//     // Sublevels
//     --treeEntry-padding-h: 0;

//     &.o_rtl:before {
//         transform: scaleX(-1);
//     }

//     @for $level from 1 through 3 {
//         &.hb-row-sublevel-#{$level} {
//             --treeEntry-padding-h: #{$level * 0.6em};
//         }
//     }
}

.hb-row-collapse-content {
    @include o-position-absolute($right: 100%);
    width: 100%;
    background-color: rgba(black, 0.8);;
    box-sizing: border-box;
    transform: translateY(($o-hb-row-min-height + $o-hb-row-margin-bottom) * -1);
    backdrop-filter: blur(22px) contrast(140%);
    border-radius: $border-radius-lg 0 0 $border-radius-lg;
    color: $o-hb-fg-lighter;

    .btn-close {
        filter: invert(100%);
        scale: 0.8;
    }

    > .hb-row:not(.d-none):first-of-type {
        margin-top: map-get($spacers, 1);
    }

    .hb-row-collapse-content {
        border-radius: $border-radius-lg;
        transform: translateX(-0.2rem);
        top: 0;
    }
}
