:not(.dropstart) > .dropdown-item {
    &.active, &.selected {
        &:not(.dropdown-item_active_noarrow)::before {
            top: 50%;
            transform: translate(-1.5em, -50%);
        }
    }
}

.dropdown-toggle .o_select_item_only {
    display: none; 
}

.o-dropdown-wrapper {
    flex: 0 1 100%;

    .dropdown-toggle.btn-secondary.show {
        color: var(--btn-active-color);
        background-color: var(--btn-active-bg);
        border-color: var(--btn-active-border-color);
    }
}
