.hb-row {
    min-height: $o-hb-row-min-height;
    margin-bottom: $o-hb-row-margin-bottom;
    align-items: center;
    color: $o-hb-fg-darker;

    &:hover, &.active {
        color: $o-hb-fg-lighter;
    }

    &.active {
        background: rgba($o-hb-color-accent, .2);
    }

    .hb-row-label {
        min-width: 0;
        flex: 1 1 50%;
    }

    .hb-row-content {
        flex: 0 1 50%;
        align-items: center;
        gap: map-get($spacers, 1);
    }

//     // Sublevels
//     --treeEntry-padding-h: 0;

//     &.o_rtl:before {
//         transform: scaleX(-1);
//     }

//     @for $level from 1 through 3 {
//         &.hb-row-sublevel-#{$level} {
//             --treeEntry-padding-h: #{$level * 0.6em};
//         }
//     }
}


        &::after {
            content: '\f0d7';
        }
        + * {
            background: none;
            border: none;
            box-shadow: none;
        }
    }
}
