// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o-DiscussMobileMailboxSelection {
    display: flex;
    flex: 0 0 auto;
}

.o-DiscussMobileMailboxSelection-button {
    flex: 1 1 0;
    padding: 8px;
    z-index: 1;

    &.o-isActive {
        z-index: 2;
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o-DiscussMobileMailboxSelection-button {
    box-shadow: 0 2px 4px gray('400');
}
