@mixin o-kiosk() {
    @include media-breakpoint-up(lg) {
         .kiosk {
             @content;
         }
    }
}

@mixin o-kiosk-portrait() {
    @include o-kiosk() {
        @media (orientation: portrait) and (min-height: 1500px) {
            @content;
        }
    }
}

@mixin o-kiosk-landscape() {
    @include o-kiosk() {
        @media (orientation: landscape) {
            @content;
        }
    }
}


/* This mixin generates utility classes scoped to a specific media context, such as kiosk-specific layouts.

 - Spacing utilities (`margin`, `padding`, `gap`, and directional variants)
 - Display utilities (`block`, `flex`, `none`, etc.)
 - ...
 */

@mixin generate-kiosk-utilities($context) {

    .container-#{$context}-fluid {
        width: 100% !important;
        max-width: 100% !important;
    }


    @each $key, $value in  $spacers {
        // Gap
        .gap-#{$context}-#{$key} {
            gap: $value !important;
        }
        .row-gap-#{$context}-#{$key} {
            row-gap: $value !important;
        }
        .column-gap-#{$context}-#{$key} {
            column-gap: $value !important;
        }

        // Margin
        .m-#{$context}-#{$key} {
            margin: $value !important;
        }
        .mt-#{$context}-#{$key} {
            margin-top: $value !important;
        }
        .mb-#{$context}-#{$key} {
            margin-bottom: $value !important;
        }
        .ms-#{$context}-#{$key} {
            margin-left: $value !important;
        }
        .me-#{$context}-#{$key} {
            margin-right: $value !important;
        }
        .mx-#{$context}-#{$key} {
            margin-left: $value !important;
            margin-right: $value !important;
        }
        .my-#{$context}-#{$key} {
            margin-top: $value !important;
            margin-bottom: $value !important;
        }

        // Padding
        .p-#{$context}-#{$key} {
            padding: $value !important;
        }
        .pt-#{$context}-#{$key} {
            padding-top: $value !important;
        }
        .pb-#{$context}-#{$key} {
            padding-bottom: $value !important;
        }
        .ps-#{$context}-#{$key} {
            padding-left: $value !important;
        }
        .pe-#{$context}-#{$key} {
            padding-right: $value !important;
        }
        .px-#{$context}-#{$key} {
            padding-left: $value !important;
            padding-right: $value !important;
        }
        .py-#{$context}-#{$key} {
            padding-top: $value !important;
            padding-bottom: $value !important;
        }
    }

    .mx-#{$context}-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .my-#{$context}-auto {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    // Display
    .d-#{$context}-none {
        display: none !important;
    }
    .d-#{$context}-block {
        display: block !important;
    }
    .d-#{$context}-inline {
        display: inline !important;
    }
    .d-#{$context}-inline-block {
        display: inline-block !important;
    }
    .d-#{$context}-flex {
        display: flex !important;
    }
    .d-#{$context}-inline-flex {
        display: inline-flex !important;
    }
    .d-#{$context}-grid {
        display: grid !important;
    }

    // Flexbox helpers
    .flex-#{$context}-row {
        flex-direction: row !important;
    }
    .flex-#{$context}-column {
        flex-direction: column !important;
    }
    .justify-#{$context}-start {
        justify-content: flex-start !important;
    }
    .justify-#{$context}-center {
        justify-content: center !important;
    }
    .justify-#{$context}-end {
        justify-content: flex-end !important;
    }
    .justify-#{$context}-between {
        justify-content: space-between !important;
    }
    .justify-#{$context}-around {
        justify-content: space-around !important;
    }
    .align-#{$context}-start {
        align-items: flex-start !important;
    }
    .align-#{$context}-center {
        align-items: center !important;
    }
    .align-#{$context}-end {
        align-items: flex-end !important;
    }
    .align-#{$context}-stretch {
        align-items: stretch !important;
    }

    //Grid
    @for $i from 1 through 12 {
      .g-col-#{$context}-#{$i} {
        grid-column: auto / span #{$i} !important;
      }

      .col-#{$context}-#{$i} {
        flex: 0 0 auto;
        width: (100% / 12) * $i !important;
      }
    }

    .text-#{$context}-center {
        text-align: center !important;
    }

    .text-#{$context}-start {
        text-align: left !important;
    }

    .text-#{$context}-end {
        text-align: right !important;
    }

    $width-utilities: 25, 50, 75, 100;

    @each $w in $width-utilities {
      .w-#{$context}-#{$w} {
        width: #{$w}% !important;
      }
    }

    // Add the auto width utility separately
    .w-#{$context}-auto {
      width: auto !important;
    }
}
