@include o-kiosk{
    @include generate-kiosk-utilities(kiosk);
}


@include o-kiosk-portrait{
    &:root {
        --root-font-size: #{$o-so-font-size-kiosk};
    }

     .o_self_container {
        width: 100% !important;
        max-width: 1100px !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .kiosk-p-btn-lg {
      padding: $input-btn-padding-y-lg $input-btn-padding-x-lg !important;
      font-size: 1.25rem;
    }

    @include generate-kiosk-utilities(kiosk-p);
}

@include o-kiosk-landscape{
    @include generate-kiosk-utilities(kiosk-l);
}
