// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_SelectablePartnersList {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.o_SelectablePartnersList_noResult {
    margin-left: map-get($spacers, 3);
    margin-right: map-get($spacers, 3);
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------
