// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o-EmojisPopover {
    display: flex;
    flex-flow: row wrap;
    max-width: 200px;
}

.o-EmojisPopover-emoji {
    font-size: 1.1em;
    margin: 3px;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o-EmojisPopover-emoji {
    cursor: pointer;
}
