// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_PartnerSelectorPopover {
    display: flex;
    flex-flow: row wrap;
    max-width: 200px;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------
