div[name="o_payment_status_alert"] div > p {
    font-size: $lead-font-size;
    font-weight: $lead-font-weight;
}

.o_payment_summary div {
    border: $border-width solid $border-color;
    padding: map-get($spacers, 3);
    border-radius: $border-radius;
    text-align: center;
}
