// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_ThreadViewTopbar {
    display: flex;
    height: $o-statusbar-height;
    width: map-get($sizes, 100);
}

.o_ThreadViewTopbar_actions {
    display: flex;
    align-items: center;
    margin-inline-start: map-get($spacers, 4);
    margin-inline-end: map-get($spacers, 4);
}

.o_ThreadViewTopbar_invitePopover {
    .popover-body {
        padding: 0; // remove unwanted padding from popover-body
    }
}

.o_ThreadViewTopbar_threadDescription {
    flex: 0 1 auto;
    @include text-truncate();
}

.o_ThreadViewTopbar_threadDescriptionSeparator {
    flex: 0 0 auto;
    width: $border-width;
    height: $font-size-sm;
    margin-inline-start: map-get($spacers, 2);
    margin-inline-end: map-get($spacers, 2);
}

.o_ThreadViewTopbar_threadIcon {
    margin-inline-end: map-get($spacers, 2);
}

.o_ThreadViewTopbar_threadName {
    flex: 0 0 auto; // no shrink to let the name have priority over description
    max-width: map-get($sizes, 75); // but always leave at least a bit of space for the description
    @include text-truncate();
}

.o_ThreadViewTopbar_title {
    flex: 1 1 auto;
    display: flex;
    align-self: center; // cancel stretch from parent, the current element and its children don't want to use the whole height but use baseline instead
    align-items: baseline;
    min-width: 0; // allow flex shrink to work on children that have content
    margin-inline-start: map-get($spacers, 4);
    margin-inline-end: map-get($spacers, 4);
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_ThreadViewTopbar {
    background-color: $o-mail-discuss-bg;
}

.o_ThreadViewTopbar_button {
    background: none;
    border: none;
    outline: none;

    &.o-active {
        color: gray('700');
    }

    &:not(.o-active) {
        color: gray('500');
    }

    @include hover-focus () {
        outline: none;
        color: gray('600');
    }
}

.o_ThreadViewTopbar_threadDescriptionSeparator {
    background-color: $border-color;
}

.o_ThreadViewTopbar_threadName {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
}
