// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o-Attachment {
    display: flex;

    &:hover .o-Attachment-asideItemUnlink.o-isPretty {
        transform: translateX(0);
    }
}

.o-Attachment-action {
    min-width: 20px;
}

.o-Attachment-actions {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.o-Attachment-aside {
    position: relative;
    overflow: hidden;

    &:not(.o-hasMultipleAction) {
        min-width: 50px;
    }

    &.o-hasMultipleAction {
        min-width: 30px;
        display: flex;
        flex-direction: column;
    }
}

.o-Attachment-asideItem {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.o-Attachment-asideItemUnlink.o-isPretty {
    position: absolute;
    top: 0;
    transform: translateX(100%);
}

.o-Attachment-details {
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-width: 0; /* This allows the text ellipsis in the flex element */
    /* prevent hover delete button & attachment image to be too close to the text */
    padding-left : map-get($spacers, 1);
    padding-right : map-get($spacers, 1);
}

.o-Attachment-filename {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.o-Attachment-image {
    flex-shrink: 0;
    margin: 3px;

    &.o-hasDetailsOverlay {
        position: relative;

        &.o-isLarge {
            min-width: 400px;
            min-height: 400px;
        }

        &.o-isMedium {
            min-width: 200px;
            min-height: 200px;
        }

        &.o-isSmall {
            min-width: 100px;
            min-height: 100px;
        }

        &:hover {
            .o-Attachment-imageOverlay {
                opacity: 1;
            }
        }
    }
}

.o-Attachment-imageOverlay {
    bottom: 0;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.o-Attachment-imageOverlayDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 3px;
    width: 200px;
}


// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o-Attachment {
    &.o-hasCardDetails {
        background-color: gray('300');
        border-radius: 5px;
    }
}

.o-Attachment-action {
    border-radius: 10px;
    cursor: pointer;
    text-align: center;

    &:hover {
        background: rgba(255, 255, 255, 0.2);
    }
}

.o-Attachment-aside {
    border-radius: 0 5px 5px 0;
}

.o-Attachment-asideItemDownload {
    cursor: pointer;

    &:hover {
        background-color: gray('400');
    }
}

.o-Attachment-asideItemUnlink {
    cursor: pointer;

    &:not(.o-isPretty):hover {
        background-color: gray('400');
    }

    &.o-isPretty {
        color: white;
        background-color: $o-brand-primary;

        &:hover {
            background-color: darken($o-brand-primary, 10%);
        }
    }

}

.o-Attachment-asideItemUploaded {
    color: $o-brand-primary;
}

.o-Attachment-extension {
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 400;
}

.o-Attachment-image.o-isAttachmentViewable {
    cursor: zoom-in;

    &:not(.o-hasDetailsOverlay):hover {
        opacity: 0.7;
    }
}

.o-Attachment-imageOverlay {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
    border-radius: 5px;
    color: white;
    opacity: 0;
}

// ------------------------------------------------------------------
// Animation
// ------------------------------------------------------------------

.o-Attachment-asideItemUnlink.o-isPretty {
    transition: transform 0.3s ease 0s;
}

.o-Attachment-imageOverlay {
    transition: all 0.3s ease 0s;
}
