[data-oe-translation-state] {
    background: rgba($o-hb-content-to-translate-color, 0.5) !important;

    &[data-oe-translation-state="translated"] {
        background: rgba($o-hb-translated-content-color, 0.5) !important;
    }

    &.o_dirty {
        background: rgba($o-hb-translated-content-color, 0.25) !important;
    }
}
