.o_graph_renderer {
    .o_graph_canvas_container {
        .o_search_panel_resize + &,
        .o_search_panel_sidebar + & {
            border: $border-width solid $border-color;
            border-bottom: 0;
            margin-right: map-get($spacers, 3);
            border-radius: $border-radius-xl $border-radius-xl 0 0;
        }
    }
}
