
.o_wslides_fs_main {
    --o-wslides-color-dark: #13161b;
    --o-wslides-color-light: #22262c;
    --o-wslides-color-lighter: #2b313a;
    --o-wslides-color-lightest: #363d48;

    @include o-position-absolute(0,0,0,0);
    z-index: $zindex-website-header + 1;
    background: var(--o-wslides-color-dark);

    .o_wslides_slide_fs_header {
        background: var(--o-wslides-color-light);
        height: 50px;
    }

    .o_wslides_fs_player, .o_wslides_fs_sidebar, .o_wslides_fs_sidebar_content {
        transition: all .2s ease-in;
    }

    .o_wslides_fs_toggle_sidebar {
       background: var(--o-wslides-color-lighter);
    }

    .o_wslides_fs_sidebar {
        background: var(--o-wslides-color-lighter);
        position: relative;
        z-index: $zindex-fixed;

        .o_wslides_fs_sidebar_content {
            min-width: $o-wslides-fs-side-width;
        }

        .o_wslides_fs_toggle_sidebar {
            @include o-position-absolute(0, auto, 0, 100%);
            width: 700px;
            background: rgba(black, 0.2);
        }

        @include media-breakpoint-down (md) {
            @include o-position-absolute(0, auto, 0, 0);
            box-shadow: 5px 0 15px rgba(black, 0.2);

            &.o_wslides_fs_sidebar_hidden {
                display: none;
            }
        }

        @include media-breakpoint-up (sm) {
            width: $o-wslides-fs-side-width;

            &.o_wslides_fs_sidebar_hidden {
                width: 0;

                .o_wslides_fs_sidebar_content {
                    transform: translateX(-100%);
                }
            }
        }

        a {
            text-decoration: none !important;
            @include o-hover-text-color(rgba(white, 0.8), white);
        }

        .o_wslides_channel_completion_progressbar,
        .o_wslides_fs_sidebar_section > .o_wslides_lesson_aside_list_link,
        .o_wslides_lesson_aside_list_links {
            color: rgba(white, 0.8);
        }

        .o_wslides_fs_sidebar_section_slides li {
            color: rgba(white, 0.8);

            &.active > .o_wslides_lesson_aside_list_link {
                background-color: $primary-bg-subtle;
                color: $primary-text-emphasis;
                border-radius: $border-radius;
            }

            .o_wslides_sidebar_content {
                line-height: unset;

                .list-unstyled i {
                    color: $gray-600
                }

                i {
                    line-height: unset;

                    &[data-icon="sports_score"] {
                        padding-left: 3px;
                        padding-right: 7px;
                    }
                }
            }

            .o_wslides_sidebar_done_button {
                line-height: unset;

                button {
                    padding: 0;
                    padding-right: 3px;
                }
            }
        }
    }

    .o_wslides_js_lesson_quiz_resource_info{
        ul {
            margin-bottom: 0;
            padding-left: 20px;
        }
    }

    .o_wslides_js_lesson_quiz_question {
        .list-group-item  {
            input:checked + i[data-icon="circle"] {
                color: $primary !important;
            }
        }

        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }

        &.completed-disabled{
            pointer-events: none;
        }
    }

    button.o_wslides_button_complete i {
        color: $gray-400;
    }
    div.o_wslides_button_complete i {
        color: $gray-600;
    }
}

.modal-open {
    > .modal-backdrop {
        z-index: $zindex-modal-backdrop;
    }
}
