.pos_report_filter {
   &.date {
        .date_filter:hover .btn_previous_date,
        .date_filter:hover .btn_next_date:not(:disabled) {
            color: $o-gray-600;
        }
        .filter_name {
            min-width: 20ch;
            padding: 1px 0;
            border: var(--border-width) solid transparent;
            border-width: 0 0 var(--border-width) 0;
        }
        .btn_previous_date, .btn_next_date {
            background: inherit;
            border: var(--border-width) solid transparent;
            border-width: 0 0 var(--border-width) 0;
            color: $o-gray-300;
            padding: 1px 0;
            width: 20px;
        }
        .date_filter .input_current_date {
            min-width: 20ch;
            padding: 0 4px;
        }
    }
}