
.o_knowledge_file {
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: $o-gray-100;
    display: flex;
    padding: 5px;
    & > .o_knowledge_file_image {
        display: flex;
    }
    & > .o_knowledge_file_description {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.o_knowledge_file_extension {
    text-transform: uppercase;
    font-size: $font-size-sm !important;
}

.o_knowledge_template {
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: $o-gray-100;
    & > .o_knowledge_content {
        padding: 5px;
        border-bottom: 5px solid $o-gray-100;
        margin: 0 5px;
        background-color: $white;
        p:last-child {
            margin-bottom: 0;
        }
    }
    .o_knowledge_toolbar_anchor {
        min-height: 5px;
    }
}

.o_knowledge_behavior_type_article {
    border-color: $o-gray-200;
}

.o_knowledge_embeded_view {
    .o_knowledge_embeded_view_container {
        overflow-x: auto;
        min-height: 100px;
        &:empty {
            animation: o_knowledge_bg_color_pulsing 1.5s infinite;
        }
    }
}

@keyframes o_knowledge_bg_color_pulsing {
    0% {
        background: $white;
    }
    50% {
        background: $o-gray-100;
    }
    100% {
        background: $white;
    }
}
