// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o-Chatter {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: map-get($sizes, 100);
}

.o-Chatter-composer {
    border-bottom: $border-width solid;

    &.o-isBordered {
        border-left: $border-width solid;
        border-right: $border-width solid;
    }
}

.o-Chatter-scrollPanel {
    overflow-y: auto;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o-Chatter {
    background-color: white;
    border-color: $border-color;
}

.o-Chatter-composer {
    border-bottom-color: $border-color;

    &.o-isBordered {
        border-left-color: $border-color;
        border-right-color: $border-color;
    }
}
